body{
    background-color: #F2F4F9;
}

.custom-col{
    border: 1px solid blue;
}

#search{
    margin:10px;
}

.custom-card{
    margin: 0px 20px 20px 0px;

}

.custom-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.custom-row{
    margin: 10px;
}